#footer {
  @apply pt-[80px] pb-[60px];

  .widget-text {
    font-family: El Messiri, Helvetica, Arial, sans-serif;
    @apply  text-[30px] text-[#333] pb-[30px];
  }

  #contact, #profile, #newsletter {
    ul
    {
      li {
        @apply pb-[9px] text-[#333] text-[15px];
        font-family: Raleway, Helvetica, Arial, sans-serif;
      }
    }

    input {
      background: transparent;
      border: none;
      border-bottom: 1px solid #666;
      padding: 5px 0;
      color: #666;

      &:focus {
        outline: none;
      }
    }
  }

  a {
    cursor: pointer;
  }
}