@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./colors.scss";
@import "./home.scss";

:root {
  --header-width: ;

  --global-font: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.special-heading {
  @apply text-[60px] font-medium leading-none text-center relative
  font-family: var(--global-font);
}

//font faces
@font-face {
  font-family: Raleway;
  src: url('../assets/fonts/1Ptsg8zYS_SKggPNyCg4TYFq.woff2');
  // font-weight: 400;
}

@font-face {
  font-family: Raleway;
  src: url('../assets/fonts/1Ptug8zYS_SKggPNyC0ITw.woff2');
  // font-weight: 400;
}

@font-face {
  font-family: Raleway;
  src: url('../assets/fonts/K2FhfZBRmr9vQ1pHEey6GIGo8_pv3myYjuXwe55njDw.woff2');
  // font-weight: 400;
}

.test {
  font-family: var(--global-font);
}